.main-header {
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.main-header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-chat {
    display: flex;
    gap: 2.5rem;
}

.state {
    display: flex;
    align-items: center;
}

.online {
    color: var(--success);
}

.offline {
    color: var(--danger);
}

mat-icon {
    height: auto;
    font-variation-settings:
        'FILL' 100,
}