<aside class="sidebar">

    <div class="brand">
        <div class="logo">
            AI
        </div>

        <div>
            <h1>AI Assistant</h1>
            <span>Documentation</span>
        </div>
    </div>


    <button class="new-chat">
        + Nuevo chat
    </button>


    <nav class="menu">

        <a class="active">
            <mat-icon aria-hidden="false" aria-label="Chat icon" fontIcon="chat"></mat-icon>
            Chat
        </a>

        <a>
            <mat-icon aria-hidden="false" aria-label="Book icon" fontIcon="book"></mat-icon>
            Historial
        </a>

        <a>
            <mat-icon aria-hidden="false" aria-label="Folder icon" fontIcon="folder"></mat-icon>
            Proyectos
        </a>

        <a>
            <mat-icon aria-hidden="false" aria-label="App_registration icon" fontIcon="app_registration"></mat-icon>
            Documentación API
        </a>

        <a>
            <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon>
            Code Review
        </a>

        <a>
            <!-- <span class="material-symbols-outlined">settings</span> -->
            <mat-icon aria-hidden="false" aria-label="Settings icon" fontIcon="settings"></mat-icon>
            Configuración
        </a>

    </nav>


    <div class="sidebar-footer">

        <div class="status">
            <span></span>
            Connected
        </div>

        <small>
            Groq API · Llama 3.1
        </small>

    </div>

</aside>