<aside class="sidebar">

    <div class="brand">
        <div class="logo">
            AI
        </div>

        <div>
            <h1>AI Assistant</h1>
            <span>Documentation</span>
        </div>
    </div>


    <button class="new-chat">
        + Nuevo chat
    </button>


    <nav class="menu">
        <h3>Navegación</h3>

        <a>
            <mat-icon aria-hidden="false" aria-label="Book icon" fontIcon="book"></mat-icon>
            Historial
        </a>

        <a>
            <mat-icon aria-hidden="false" aria-label="Folder icon" fontIcon="folder"></mat-icon>
            Proyectos
        </a>

        <a>
            <mat-icon aria-hidden="false" aria-label="App_registration icon" fontIcon="app_registration"></mat-icon>
            Documentación API
        </a>

        <a>
            <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon>
            Code Review
        </a>

        <a>
            <mat-icon aria-hidden="false" aria-label="Settings icon" fontIcon="settings"></mat-icon>
            Configuración
        </a>

    </nav>

    <section class="recent-chats">

        <h3>Chats recientes</h3>

        <ul>
            @for (conversation of recentConversations(); track conversation.id) {
                <li>
    
                    <a>
    
                        <mat-icon aria-hidden="false" aria-label="Documentation chat" fontIcon="description">
                        </mat-icon>
    
                        <div class="chat-info">
    
                            <span class="chat-title">
                                {{ conversation.title }}
                            </span>
    
                            <span class="chat-time">
                                {{ conversation.updatedAt | date:'M/d/yy, h:mm a' }}
                            </span>
    
                        </div>
    
                    </a>
    
                </li>
            }
        </ul>

        <a class="view-all">
            Ver todos los chats
            <mat-icon fontIcon="arrow_forward"></mat-icon>
        </a>

    </section>


</aside>