<section class="history-page">
    <div class="history-header">
        <h2>
            <mat-icon aria-hidden="false" fontIcon="manage_history"></mat-icon>
            Historial
        </h2>
        <p>Busca y administra todas tus conversaciones</p>
    </div>
    <div class="content-history">
        <div class="search-box">

            <!-- <mat-icon>search</mat-icon> -->

            <input type="text" placeholder="Buscar conversación...">

        </div>
        <div class="history-list">
            @for (conversation of conversations(); track conversation.id) {
                <app-history-item [conversation]="conversation">
                </app-history-item>
            }
        </div>
    </div>

</section>