<section class="history-page">
    <div class="history-header">
        <h2>
            <mat-icon aria-hidden="false" fontIcon="manage_history"></mat-icon>
            Historial
        </h2>
        <p>Busca y administra todas tus conversaciones</p>
    </div>
    <div class="content-history">
        <div class="search-box">

            <mat-icon>search</mat-icon>

            <input (input)="updateSearch($any($event.target).value)" type="text" placeholder="Buscar conversación...">

        </div>
        @if (filteredConversations().length <= 0) { 
            <p>No se encontraron resultados</p>
        } @else {
            <div class="history-list">
                @for (conversation of filteredConversations(); track conversation.id) {
                <app-history-item [conversation]="conversation" (conversationSelected)="openConversation($event)">
                </app-history-item>
                }
            </div>
        }
    </div>

</section>