<section class="chat" #container>

    @for (message of messages(); track message.id) {
    <app-message [message]="message">
    </app-message>
    }

    @if (isTyping()) {

    <div class="typing">

        La IA está escribiendo

        <span></span>
        <span></span>
        <span></span>

    </div>

    }

    @if (error(); as errorMessage) {
        <div class="error" role="alert" aria-live="polite">

            <markdown [data]="errorMessage"></markdown>

        </div>
        <button
            (click)="retry.emit()"
            type="button"
            >
    
            🔄 Reintentar
    
        </button>
    }


</section>