/* You can add global styles to this file, and also import other style files */
@import "highlight.js/styles/github-dark.css";

:root {

    /* Colors */

    // --background: #0F172A;
    --background: #061122;

    // --surface: #1E293B;
    --surface: #101d2f;

    --surface-light: #334155;

    --primary: #3B82F6;

    --primary-hover: #2563EB;

    --success: #19e79b;

    --danger: #EF4444;

    --text-primary: #E1E1E1;

    --text-secondary: #94A3B8;

    --border: rgba(255, 255, 255, .08);



    /* Radius */

    --radius-sm: 8px;

    --radius-md: 12px;

    --radius-lg: 18px;



    /* Shadows */

    --shadow:

        0 10px 30px rgba(0, 0, 0, .25);



    /* Sidebar */

    --sidebar-width: 270px;

    --context-width: 300px;

}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: var(--background);
    color: var(--text-primary);
    font-family:'Inter',sans-serif;
}


h1,
h2,
h3,
p {
    margin-top: 0;
}

mat-icon {
    font-family: 'Material Symbols Outlined' !important;

    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 28;
}


.box-legend {
    font-size: 0.75rem;
    display: block;
    margin-bottom: 5px;
    color: var(--text-secondary);
}

.box-option {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--surface);
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    color: var(--text-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



