<header class="header">
    <div class="content-task-response">
        <app-task-selector [selectedTask]="selectedTask()" (taskSelected)="taskSelected.emit($event)">
        </app-task-selector>
        @if (responseTime()) {
            <div>
                <span class="box-legend">Respuesta</span>
                <div class="box-option">
                    <mat-icon aria-hidden="false" fontIcon="speed" class="speed-icon">
                    </mat-icon>
                    {{ responseTime() }}
                </div>
            </div>
        }

    </div>
    <div>
        <h2>
            <mat-icon aria-hidden="false" fontIcon="{{assistant().icon}}"></mat-icon>
            {{ assistant().label }}
        </h2>
        <p>
            {{ assistant().description }}
        </p>
    </div>
</header>