.header {

    padding: 1.5rem;


    border-bottom:
        1px solid rgba(255, 255, 255, .05);


    h2 {

        margin: 0;

    }


    p {

        color: var(--text-secondary);
        margin-bottom: 0;

    }

}


.model-info {

    display: flex;
    align-items: center;

    gap: 25px;


    label {

        display: block;

        color: var(--text-secondary);

        font-size: 12px;

    }


    strong {

        display: block;

    }
}


.content-task-response {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.speed-icon {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}